.rent {
  display: flex;
  justify-content: center;
}

.rent__data {
  width: 40%;
}

.rent__image {
  width: 100%;
  height: auto;
}

.rent__title {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
}

.rent__description {
  font-size: 14px;
  color: #969696;
  text-align: justify;
}

.rent__item {
  margin-top: 5px;
}

.rent__item--value {
  margin-left: 10px;
}

.rent__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.rent__btn {
  height: 30px;
  width: 300px;
  padding: 0 10px;
  border: none;
  border-radius: 4px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.rent__btn:focus {
  outline: none;
}

.rent__btn--danger {
  background-color: #fff;
  color: #d63031;
  border: 1px solid #d63031;
}

.rent__btn--danger:hover {
  background-color: #d63031;
  color: #fff;
  transition: all 0.2s;
}

.rent__btn--success {
  background-color: #fff;
  color: #00b894;
  border: 1px solid #00b894;
  margin-left: 10px;
}

.rent__btn--success:hover {
  background-color: #00b894;
  color: #fff;
  transition: all 0.2s;
}

.rent__items {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.rent_item-icon {
  width: 13px;
  height: 13px;
}

.rent__item-text {
  font-size: 14px;
  margin-left: 5px;
}

@media only screen and (max-width: 600px) {
  .rent__data {
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .rent__items {
    flex-direction: column;
  }

  .rent__items li {
    margin-top: 10px;
  }
}
