.rents{

    margin-top: 60px;
    width: 80%;
    list-style: none;
}

.rents__box{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.rents__item{

    flex: 100%;  
    border-bottom: 0.1px solid #DBDBDB;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    cursor: pointer;
    
}

.rents__contents{

    flex: 90%;
    margin-left: 10px;
}

.rents__item-contents-header{

    display: flex;
    justify-content: space-between;
}

.rents__title{

    width: 80%;
    font-weight: 500;
    margin-top: 10px;
}

.rents__item:first-child{

    border-top: 0.1px solid #DBDBDB;
}

.rents__item-character{

    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.rents__item-character-item{

    font-size: 13px;
    flex:18%;
    color:rgb(88, 79, 79);
    font-weight: 300;
}

.rents__item-character-item-map{

    font-size: 13px;
    flex:28%;
    color:rgb(88, 79, 79);
    font-weight: 300;
}

.rents__item-character-item-area{

    font-size: 13px;
    flex:15%;
    color:rgb(88, 79, 79);
    font-weight: 300;
}

.rents__item-character-item-day{

    font-size: 13px;
    flex:21%;
    color:rgb(88, 79, 79);
    font-weight: 300;
}


.rents__item-character-item:last-child{

    display: flex;
    justify-content: flex-end;
}

.rents__item-character-item:last-child > .rents__item-character-icon{

    margin-top:4px;
}

.rents__item-character-icon{

    margin-right: 3px;
}

.rents__item:hover{

    background-color: rgb(243, 243, 243);
}

.rents__item-title{

    font-weight: 500;
}

.rents__item-header{

    display: flex;
    justify-content: space-between;
}
/* 
.rents__title{

    position: absolute;
    margin: -10px;
    padding: -10px;
} */

.rents__score{

    font-weight: 300;
    align-items: flex-end;
}

.yellow{

    color: #e0d234;
}

.bold{

    font-weight: 700!important;
}

.rents__item-image-space{

    flex:10%;
}

.rents__item-image {
    background-color: #aaa;
    border-radius: 5%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
    margin-top: 5px; 
  }
  
.rents__item-image img {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.rents__form-box {
    margin-top: 40px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }


.rents__form-input{

    width: 60%;
    margin-left: 30px;
}

.rents__form-box input {
    height: 36px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding-left: 10px;
}

.rents__form-box input::placeholder,
.rents__form-box textarea::placeholder {
    font-family: 'Lato', sans-serif;
}

.rents__form-box input:focus {
    outline: none;
    border: 1px solid #81ecec;
}