.rents{

    margin-top: 60px;
    width: 70%;
    list-style: none;
}

.rents__box{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.rents__item{

    flex: 100%;  
    border-bottom: 0.1px solid #DBDBDB;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    
}

.rents__title{

    width: 70%;
    font-weight: 500;
}

.rents__item:first-child{

    border-top: 0.1px solid #DBDBDB;
}

.rents__item-character{

    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.rents__item-character-item{

    font-size: 13px;
    flex:30%;
    color:rgb(88, 79, 79);
    font-weight: 300;
}


.rents__item-character-item:last-child{

    display: flex;
    justify-content: flex-end;
}

.rents__item-character-item:last-child > .rents__item-character-icon{

    margin-top:4px;
}

.rents__item-character-icon{

    margin-right: 3px;
}



.rents__item:hover{

    background-color: rgb(243, 243, 243);
}

.rents__item-title{

    font-weight: 500;
}

/* 
.rents__title{

    position: absolute;
    margin: -10px;
    padding: -10px;
} */